.header {
    width: 100%;
    max-width: 880px;
    height: 74px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
    border: none;

}

@media screen and (max-width: 984px) {
    .header {
        border-bottom: 1px solid #545454;

    }

}

@media screen and (max-width: 568px) {
    .header {
        max-width: 320px;
        height: 56px;
        border-bottom: 1px solid #545454;

    }

}