.popup__input-name {
    margin: 0 auto 30px;
    padding-bottom: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 358px;
    border: none;
    width: 100%;
    border-bottom: #E5E5E5 solid 1px;


}

@media screen and (max-width:568px) {
    .popup__input-name {
        max-width: 238px;
    }
}