.popup__body {
    margin: auto;
    width: 430px;
    background-color: #ffffff;
    position: relative;
    border-radius: 10px;

}



@media screen and (max-width: 568px) {
    .popup__body {
        width: 288px;
    }
}

